table {
    width: 100%;
}

.mat-header-cell {
  font-weight: bold;
  color: #000;
  font-size: 16px;
}

.paginator {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 35px;
}